:root {
  --app-height: 100%;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  
  font-size: 16px;
  font-family: 'Gilroy';
  color: $blackText;

  &.overflow-hidden {
    overflow: hidden;
  }
}

button {
  touch-action: manipulation;
}

// убираем стрелки у инпутов при type="number"
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='numbr'] {
  -moz-appearance: textfield;
}

.exact-active-link {
  cursor: default;
  pointer-events: none;
}

img[src=""] {
  display: none;
}

[v-cloak] {
  display: none;
}

.container {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;

  // @include mq($bp-small) {
  //   padding: 0 30px;
  // }
}