$white: #ffffff;

$black: #000000;
$blackText: #141414;
$blackText2: #262523;
$blackText3: #262626;

$grayBg: #F5F4F2;
$grayBg2: #F9F9F9;
$grayText: #969696;
$grayText2: #D9D9D9;

$orange: #FF6600;
$orangeLight: #FFEFE5;

$yellow: #FEDE59;
$yellowLight: #FFF6CE;
$yellowLightSecondary: #FFF9DF;
$yellowDark: #FFCE00;

$blue: #50ADCA;

$red: #EC2525;

$green: #49BA40;
$greenLight: #E4F3D9;
$greenDark: #089B43;